body {
  background-color: #FEF5ED;
margin: 0;
text-align: center;}



.geral {

  font-family: 'Poppins', sans-serif;
}

.gmail {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.io {
  margin: 0;
}


.titulo{
font-family: 'Sacramento', cursive;
margin: 50px auto 0 auto;
  font-size: 5.7rem;
  line-height: normal;
}

.a {
  color: #99A799;
}

.gif {
  margin: 0 auto 0 auto;
  height: 20%;
  width: 20%;
}

.i{
border-style: dotted none none;
border-color: #ADC2A9;
border-width: 5px;
width: 5%;
margin-top: 40px;
margin-bottom: 40px;


}
.btn {
    font-family: 'Quintessential', cursive;
}

.montanha {
margin-bottom: 90px;


}

.skill-row {
text-align: left;
height: 120px;
width: 50%;
margin: 50px auto 50px auto;
line-height: 2;
}
.Skills{
  width: 25%;
}
h3 {
  font-family: 'Quintessential', cursive;
  font-size: 2rem;
  line-height: 180%;
  margin: 0 auto 50px auto;
  font-weight: normal;
}

.iconnn {
margin: 50px auto 50px auto;
}

.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

  }

.bottomcloud {
  position: absolute;
  left: 200px;
}
.topcloud {
  position: absolute;
  right: 600px;
  top: 40px;
}
